repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check (with fixes)
        entry: uv run ruff check --fix
        language: system
        types: [python]
      - id: ruff-format
        name: "ruff format"
        entry: uv run ruff format
        language: system
        types: [python]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-toml