# .github/workflows/ci.yml
name: Coverage

on:
  pull_request:
  push:
    branches:
      - "main"

jobs:
  test:
    name: Run tests & display coverage
    runs-on: ubuntu-latest
    permissions:
      # Gives the action the necessary permissions for publishing new
      # comments in pull requests.
      pull-requests: write
      # Gives the action the necessary permissions for pushing data to the
      # python-coverage-comment-action branch, and for editing existing
      # comments (to avoid publishing multiple comments in the same PR)
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          # This is optional since by default it's to true. The git
          # operations in python-coverage-comment-action utilize the token
          # stored by actions/checkout.
          persist-credentials: true
      - uses: astral-sh/setup-uv@v7

      - name: Install everything, run the tests, produce the .coverage file
        run: uv run pytest --cov=tinylm 

      - name: Coverage comment
        uses: py-cov-action/python-coverage-comment-action@v3
        with:
          GITHUB_TOKEN: ${{ github.token }}