name: 'coverage'
on:
    pull_request:
        branches:
            - master
            - main
    push:
        branches:
            - master
            - main

permissions: 
    contents: read
    pull-requests: write
    
jobs:
    coverage:
        runs-on: ubuntu-latest
        steps:
          - name: Get Cover 
            uses: orgoro/coverage@v3.2
            with:
                coverageFile: coverage.xml
                token: ${{ secrets.GITHUB_TOKEN }}hs